<div class="card task-card">
    <p-toast></p-toast>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

    <div class="flex justify-content-between mb-3">
        <h2>Gestion des tâches</h2>
        <div>
            <p-button [label]="icons.plus + texts.task" (onClick)="showNewTaskDialog()"></p-button>
        </div>
    </div>

    <p-table [value]="tasks" [tableStyle]="{'min-width': '100%'}" [scrollable]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>Titre</th>
                <th>Récompense</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-task>
            <tr>
                <td [class]="{'bg-gray-100': task.status === 'COMPLETED'}">
                    <p-tag [severity]="task.importance === TaskImportance.LOW ? 'secondary' : (task.importance === TaskImportance.MEDIUM ? 'warn' : 'danger')"
                        [value]="task.title">
                    </p-tag>
                </td>
                <td [class]="{'bg-gray-100': task.status === 'COMPLETED'}">{{task.reward}}€</td>
                <td [class]="{'bg-gray-100': task.status === 'COMPLETED'}" class="actions-cell">
                    <ng-container *ngIf="task.status === 'ACTIVE'">
                        <p-button [label]="icons.check" type="success"
                            tooltip="Valider la tâche" (onClick)="confirmTaskCompletion(task)"></p-button>
                        <p-button [label]="icons.edit" tooltip="Modifier la tâche"
                            (onClick)="editTask(task)"></p-button>
                        <p-button [label]="icons.trash" type="danger"
                            tooltip="Supprimer la tâche" (onClick)="deleteTask(task)"></p-button>
                    </ng-container>
                    <ng-container *ngIf="task.status === 'COMPLETED'">
                        <p-button [label]="icons.refresh" type="secondary"
                            tooltip="Réouvrir la tâche" (onClick)="reopenTask(task)"></p-button>
                        <p-button [label]="icons.trash" type="danger"
                            tooltip="Supprimer la tâche" (onClick)="deleteTask(task)"></p-button>
                    </ng-container>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="taskDialog" [header]="editMode ? 'Modifier la tâche' : 'Nouvelle tâche'" [modal]="true" [styleClass]="'w-full md:w-max'">
    <div class="flex flex-col gap-3 p-3">
        <p-floatlabel class="w-full md:w-max" variant="on">
            <input pInputText class="w-full" id="title" [(ngModel)]="currentTask.title" required />
            <label for="title">Titre</label>
        </p-floatlabel>
        <p-floatlabel class="w-full md:w-max" variant="on">
            <p-select class="w-full" id="importance" [options]="importanceLevels" appendTo="body" (onChange)="importanceChanged($event)"
                [(ngModel)]="currentTask.importance"></p-select>
            <label for="importance">Priorité</label>
        </p-floatlabel>
        <p-floatlabel class="w-full md:w-max" variant="on">
            <p-inputNumber class="w-full" id="reward" [(ngModel)]="currentTask.reward" [min]="0" [showButtons]="true" mode="decimal"
                [minFractionDigits]="0" [maxFractionDigits]="2"></p-inputNumber>
            <label for="reward">Récompense (+€)</label>
        </p-floatlabel>
    </div>
    <ng-template pTemplate="footer">
        <p-button [label]="icons.cancel + texts.cancel" type="secondary" (onClick)="hideDialog()"></p-button>
        <p-button [label]="icons.save + texts.save" type="success" (onClick)="saveTask()"></p-button>
    </ng-template>
</p-dialog>