# Application
PORT=3001
NODE_ENV=development

# MongoDB
MONGODB_HOST=localhost
MONGODB_PORT=27018
MONGODB_USER=admin
MONGODB_PASSWORD=password
MONGODB_DATABASE=motivation
MONGODB_URI=mongodb://admin:password@localhost:27017/motivation?authSource=admin

# Swagger
SWAGGER_TITLE=Motivation API
SWAGGER_DESCRIPTION=API pour la gestion des tâches et du budget de motivation
SWAGGER_VERSION=1.0
SWAGGER_PATH=api