<div class="overflow-y-auto h-full">
    <div class="flex justify-center m-auto font-bold gap-2">
        <span>Budget : {{rewardFullSum$()}}€</span>
        <p-button (click)="editTransaction(undefined)" label="➕" outlined="true" />
    </div>
    <p-divider />

    @if (waitingTransactions$().length > 0) {
        <div class="flex justify-center m-auto">
            <span>En cours</span>
        </div>
        <p-divider />
    }

    @for (transaction of waitingTransactions$(); track transaction._id) {
        <div class="flex gap-4 w-full">
            <div style="width: 60%;">
                {{ transaction.title }}
            </div>
            <div style="width: 20%;">
                {{ transaction.sum }}€
            </div>
            <div style="width: 20%;">
                <p-menu #menu [model]="waitingTransactionItems" [popup]="true" appendTo="body" (onShow)="selectTransaction(transaction)" (onHide)="selectTransaction(undefined)" />
                <p-button (click)="menu.toggle($event)" label="⋮" outlined="true" />
            </div>
        </div>
    }

    @if (completedTransactions$().length > 0) {
        <div class="flex justify-center m-auto">
            <span>Compléter</span>
        </div>
        <p-divider />
    }

    @for (transaction of completedTransactions$(); track transaction._id) {
        <div class="flex gap-4 w-full">
            <div style="width: 60%;" class="opacity-50">
                {{ transaction.title }}
            </div>
            <div style="width: 20%;" class="opacity-50">
                {{ transaction.sum }}€
            </div>
            <div style="width: 20%;">
                <p-menu #menu [model]="completedTransactionItems" [popup]="true" appendTo="body" (onShow)="selectTransaction(transaction)" (onHide)="selectTransaction(undefined)" />
                <p-button (click)="menu.toggle($event)" label="⋮" outlined="true" />
            </div>
        </div>
    }
</div>
