<div class="card budget-card">
    <p-toast></p-toast>

    <div class="flex justify-content-between mb-3">
        <h2>Budget : {{budget?.total || 0}}€</h2>
        <div>
            <p-button [label]="icons.plus + texts.reward" (onClick)="showNewEntryDialog()"></p-button>
        </div>
    </div>

    <p-table [value]="budget?.history || []" [tableStyle]="{'min-width': '100%'}" [scrollable]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>Date</th>
                <th>Titre</th>
                <th>Montant</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entry>
            <tr [ngClass]="{'positive-amount': entry.amount > 0, 'negative-amount': entry.amount < 0}">
                <td>{{entry.createdAt | date:'dd/MM/yyyy HH:mm'}}</td>
                <td>{{entry.title}}</td>
                <td [ngClass]="{'text-success': entry.amount > 0, 'text-danger': entry.amount < 0}">
                    {{entry.amount > 0 ? '+' : ''}}{{entry.amount}}€
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="entryDialog" header="{{texts.add + ' ' + texts.reward}}" [modal]="true" [styleClass]="'w-full md:w-max'">
    <div class="flex flex-col gap-3 p-3">
        <p-floatlabel class="w-full md:w-max" variant="on">
            <input pInputText class="w-full" id="title" [(ngModel)]="currentEntry.title" required />
            <label for="title">Titre</label>
        </p-floatlabel>            
        <p-floatlabel class="w-full md:w-max" variant="on">
            <p-inputNumber class="w-full" id="amount" [(ngModel)]="currentEntry.amount" mode="decimal" [minFractionDigits]="0"
                [maxFractionDigits]="2" [max]="0"></p-inputNumber>
            <label for="amount">Montant (-€)</label>
        </p-floatlabel>
    </div>
    <ng-template pTemplate="footer">
        <p-button [label]="icons.cancel + texts.cancel" type="secondary" (onClick)="hideDialog()"></p-button>
        <p-button [label]="icons.save + texts.save" type="success" (onClick)="saveEntry()"></p-button>
    </ng-template>
</p-dialog>